{% extends 'base.html.twig' %}

{% block title %}Ajout médias{% endblock %}

{% block body %}
    <h1>Ajout des médias</h1>

    {{ include('media/_form.html.twig') }}


    <a href="{{ path('logement_index') }}"><button type="button" class="btn btn-primary returnBien">Retourner à la liste des biens</button></a>
{% endblock %}
