{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center">À Propos</h1>
    <div class="row">
        <div class="col-lg-6">
            <div id="maps" class="border border-dark text-center map">Map prochainement</div>
        </div>
        <div class="col-lg-6 mt-3 aPropos"><h3>Immo 2020 est une agence immobilière fondée dans les années 90's. Basé à sa création dans les Hauts de France, Immo 2020 s'étends depuis des années au niveau national, ainsi qu'à l'international surtout en Europe.</h3></div>
    </div>
    <div class="row">
        <div class="col-lg-6"><img src="/images/logo/numero1.png" id="logo"  alt="Logo_immo"></div>
        <div class="col-lg-6 numero1 text-center">N°1 DES VENTES</div>
    </div>



{% endblock %}



