{% extends 'base.html.twig' %}

{% block title %}Nouveau Logement{% endblock %}

{% block body %}
    <h1>Création d'un nouveau Logement</h1>



    {{ include('logement/_form.html.twig') }}

    <a href="{{ path('logement_index') }}"><button type="button" class="btn btn-primary mb-2 mt-2">Retour</button></a>
{% endblock %}
